html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 768px;
    width: 768px;
    transform: translate(50%, -50%);
    border-radius: 5px;
    border: 1.2px solid;
    /* border-color: black; */
    outline: none;
}

#background {
    width: 100%;
    height: 100%;
    z-index: -1;
}